<div class="main-content container">
  {% if recipe %}
    <div class="form-content form-title center">
      <h2>{{ recipe.title }}</h2>
    </div>
  {% endif %}
  {% if messages %}
    <div class="form-content">
      {% include "global/partials/_message.html" %}
    </div>
  {% endif %}
  <form 
    class="form-container main-form" 
    action="{{ form_action }}" 
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    {% if form %}
      <div class="form-content form-content-grid">
        {% for field in form %}
          <div class="form-group {{ field.field.widget.attrs.class }}">
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
            </label>
            {{ field }}
            {% if field.help_text %}
              <p class="help-text">
                {{ field.help_text }}
              </p>
            {% endif %}
            {{ field.errors }}
          </div>
          {% if field.name == 'cover' and field.value.url and recipe %}
            <div class="form-group span-2">
              <img 
                src="{{ field.value.url }}" 
                alt="Cover for {{ recipe.title }}"
              >
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if form.non_field_errors %}
      <div class="form-content form-content-grid">
        <div class="form-group">
          {% for non_field_error in form.non_field_errors %}
            <div class="message message-error center">
              {{ non_field_error }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="form-content form-content-grid">
      <div class="form-group">
        <button class="submit-button" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>