:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    --spacing-gutter-medium: 1.875rem;
    --spacing-gutter-large: 2.5rem;
    --recipe-list-item-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text); 
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.main-header-container {
    width: 100%;
    background-color: var(--color-primary-dark);
}

.main-logo {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    color: var(--color-white);
}

.search-form {
    border: 2px solid var(--color-primary-dark);
    border-radius: 10px;
    max-width: 40rem;
    margin: 0 auto;
    position: relative;
    transition: border 500ms ease-out;
    background: var(--color-white);
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 0.625rem
}

.search-button {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 500ms linear;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-button:hover > i {
    cursor: pointer
}

.search-input {
    width: 100%;
    padding-left: 2.25rem;
    border-radius: 10px;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition: border 500ms ease-out;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .20);
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
}

.search-button:focus {
    background-color: rgba(0, 0, 0, .05);
}

.main-content {
    padding-top: 0;
}

.single {
    display: flex !important;
    justify-content: center;
}

.main-content-list  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--spacing-gutter-large)
}

.recipe {
    background: var(--color-white);
    box-shadow: var(--recipe-list-item-shadow);
    transition: all 200ms ease-out;
    display: flex;
    flex-flow: column nowrap;
}

.recipe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-cover {
    width: 100%;
    height: 300px;
}

.recipe-list-item {
    max-width: 640px;
    border-radius: 10px;
    overflow: hidden;
}

.recipe-list-item:hover {
    transform: scale(1.01);
    box-shadow: -7px 7px 15px rgba(0, 0, 0, .3);
}

.recipe-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: calc(var(--spacing-gutter-medium) / 2);
}

.recipe-title-link {
    color: var(--color-primary-dark);
    text-decoration: none;
    transition: all 300ms ease-out;
    width: fit-content;
}

.recipe-title-link:hover {
    transform: scale(0.95);
    text-decoration: underline;
}

.recipe-author {
    padding: 0 var(--spacing-gutter-medium)
}

.recipe-content {
    padding: var(--spacing-gutter-medium);
    padding-top: calc(var(--spacing-gutter-medium) / 2);
    flex-flow: 1;
}

.recipe-author-item {
    color: var(--color-gray-4)
}

.recipe-author a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 200ms ease-out;
}

.recipe-author a:hover {
    color: var(--color-primary-dark);
}

.recipe-meta-container {
    margin-top: auto;
    display: flex;
    flex-grow: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-0);
}

.recipe-meta {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.recipe-meta-title {
    font-size: 1.2rem;
}

.recipe-meta-text {
    font-size: 0.9rem;
}

.recipe-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 200ms linear;
}

.recipe-footer a:hover {
    filter: brightness(1.2);
}

.main-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 200ms linear;
}

.main-footer a:hover {
    filter: brightness(0.8);
}

.main-footer img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--color-black);
}

.developer a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

.main-content-detail .recipe-list-item {
    max-width: 100%;
    margin: 0 auto;
}

.main-content-detail .recipe-list-item:hover {
    box-shadow: var(--recipe-list-item-shadow)
}

.main-content-detail .recipe-cover {
    width: 100%;
    height: 30rem;
}

.not-found-message {
    text-align: center;
    font-size: 4rem;
}

.preparation-steps {
    padding: var(--spacing-gutter-large);
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.preparation-steps li {
    margin: 0.5rem;
}

.preparation-steps ol,
.preparation-steps ul {
    margin-left: 2rem;
}

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
    margin: 0 auto
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .page-item {
    padding: 0.5rem 0;
    font-size: 12px;
}

.pagination .page-link {
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10%;
    transition: background 200ms linear;
}

.pagination .page-link:hover {
    background: var(--color-primary-hover);
}

.pagination .page-current {
    background-color: var(--color-black);
}
/* Generics */

.center {
    text-align: center;
}

.container {
    max-width: 71.25rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

/* Forms */
.form-title {
    margin-bottom: 1rem;
}

.form-container {
    padding: 2rem 1rem;
}

.form-content {
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.form-content .help-text,
.errorlist {
    display: block;
    margin: 0.25rem 0;
    font-size: 0.95rem;
}

.errorlist {
    list-style-type: none;
    color: var(--color-error-dark);
}

.form-content input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--color-primary-dark);
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: calc(var(--spacing-gutter-medium)/2) var(--spacing-gutter-medium);
}

.form-content .submit-button {
    padding: 0.7rem 0.4rem;
    border: 1px solid var(--color-primary-dark-hover);
    border-radius: 5px;
    background: var(--color-primary-dark);
    color: var(--color-white);
    width: 100%;
    transition: background 200ms linear
}

.form-content .submit-button:hover {
    background: var(--color-primary-dark-hover);
}

.login-grid {
    grid-template-columns: 1fr !important;
}

.generic-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-primary);
    transition: color 200ms linear;
    font-size: 1rem;
}

.generic-button:hover {
    color: var(--color-primary-hover);
}
/* Messages */

.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium)/2);
}

.message {
    padding: 0.7rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
}

.message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
}

.message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
}

.message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
}

.message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
}

.message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
}

/* Medias */

@media (max-width: 600px) {
    .form-content-grid,
    .main-content-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}