{% extends "global/base.html" %}

{% block title %}Recipes{% endblock title %}

{% block content %}
  {% if recipes|length == 1 %}
    <div class="main-content main-content-list container single">
  {% else %}
    <div class="main-content main-content-list container">
  {% endif %}
      {% for recipe in recipes %}
        {% include "recipes/partials/_recipecard.html" %}
      {% empty %}
        <h1 class="not-found-message">No recipes found</h1>
      {% endfor %}
    </div>
{% endblock content %}
